.navigation {
  background-color: rgb(206, 196, 90);
}

.nav-link {
  color: white;
  font-family: Poetsen One;
}

.search {
  margin-left: auto;
}
body {
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdXB3azYxODk3OTY4LXdpa2ltZWRpYS1pbWFnZS1qb2I1NzItMS5qcGc.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.description {
  border: solid;
  border-radius: 30px;
  border-width: 5px;
  padding: 10px;
  background-color: #416380ff;
  width: 800px;
  margin: auto;

  font-family: Poetsen One;
  font-size: 15px;
}

.heading {
  border: solid;
  border-radius: 30px;
  border-width: 5px;
  padding: 10px;
  background-color: #416380ff;
  width: 500px;
  margin: auto;

  font-family: Poetsen One;
  font-size: 50px;
}

.carousel {
  width: 1000px;
  margin: auto;
}

.highlight {
  border: solid;
  border-radius: 30px;
  border-width: 5px;
  padding: 10px;
  background-color: #416380ff;
  width: 500px;
  margin: auto;

  font-family: Poetsen One;
  font-size: 40px;
}

h4 {
  border: solid;
  border-color: white;
  border-radius: 30px;
  background-color: #416380ff;
  width: 800px;
  padding: 5px;
  margin: auto;

  font-family: Poetsen One;
  font-size: 15px;
}

.links {
  color: white;
}
